[Desktop Entry]
Type=Application
Name=Add Epson Printer at Gnome startup
Exec=/usr/local/bin/add-epson-scanner
Icon=system-run
X-GNOME-Autostart-enabled=true
